.App {
  text-align: center;
  background-color:cornsilk;
}

.App>header>h2 {
  background-color: #305295;
  padding: 5px 50px;
  font-size:25px ;
  text-align: center;
  color: white;
}
.App>header>h2:hover{
  font-weight: 500;
}

